<mat-card>
    <mat-card-title>Deletar Usuário</mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="nome" [value]="user.name" name="name" type="text" disabled=true />
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="email" [value]="user.email" name="email" type="text" disabled=true/>
      </mat-form-field>  
      
    </form>
  
    <button mat-raised-button (click)="deleteUser()" color="warn">
      Deletar
    </button>
  
    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </mat-card>
